body {
  font-family: "Roboto", sans-serif;
  color: #B7B7B7; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Inknut Antiqua", serif;
  color: #E6E6E6;
  margin: 0 0 0em 0; }

/* Traditional typographic scale
48, 36, 24, 21, 18, 16 */
h1 {
  font-size: 3em;
  line-height: 1em; }

/* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em; }

/* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

/* 24 / 16 = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3em; }

/* 21 / 16 = 1.3125em */
h5 {
  font-size: 1.125em;
  line-height: 1.4em; }

/* 18 / 16 = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5em; }

/* 16 / 16 = 1em */
.centered {
  text-align: center; }
  .centered * {
    margin-left: auto;
    margin-right: auto; }

/* head */
.title {
  position: absolute;
  top: -9999px;
  left: -9999px; }

nav {
  font-size: 1em; }

/* hero */
.hero {
  padding: 3em 0; }
  .hero h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 0.4em; }
  .hero h2 {
    font-size: 1.75em;
    color: #D67C7C;
    font-weight: 400;
    margin-bottom: 0; }
  .hero p {
    max-width: 20em; }

.section-head {
  font-size: 3em;
  margin: 0 0 0.2em 0; }

.subheadline {
  font-size: 1.5em;
  color: #D67C7C;
  font-weight: normal;
  margin: 0 0 2em 0; }

h4 {
  font-family: "Roboto", sans-serif;
  color: #EFA86D;
  font-weight: bold; }

.weekly-navigation li {
  font-weight: light; }

.centered {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-right: 4%;
  margin-left: 4%; }

/* LAYOUT */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  /* 14px */
  margin: 0; }

.container {
  margin: 0 auto;
  padding: 2% 4%; }

@media (min-width: 768px) {
  body {
    font-size: 100%;
    /*16px */ } }

@media (min-width: 992px) {
  .container {
    max-width: 942px;
    padding: 0 50px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
    /*18px */ }
  .container {
    max-width: 1200px; } }

/* GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .row {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  .row.swapped {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.row > .column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 1% 2% 1%; }
  @media (max-width: 767px) {
    .row > .column {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: 768px;
      flex-basis: 768px; } }
  .row > .column.one-half {
    width: 48%; }
  .row > .column.one-third {
    width: 31.3333%; }
  .row > .column.one-fourth {
    width: 23%; }
  @media (min-width: 768px) {
    .row > .column.centered {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      margin-right: 4%;
      margin-left: 4%; } }

body {
  background-color: black; }

.site-header .site-navigation ul,
.site-header .weekly-navigation ul,
.site-footer .site-navigation ul,
.site-footer .weekly-navigation ul,
.container .site-navigation ul,
.container .weekly-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 768px -1) {
    .site-header .site-navigation ul,
    .site-header .weekly-navigation ul,
    .site-footer .site-navigation ul,
    .site-footer .weekly-navigation ul,
    .container .site-navigation ul,
    .container .weekly-navigation ul {
      display: block; } }

.site-header .site-navigation a,
.site-header .weekly-navigation a,
.site-footer .site-navigation a,
.site-footer .weekly-navigation a,
.container .site-navigation a,
.container .weekly-navigation a {
  color: #9B9B9B;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 0em 0 .2em 0;
  margin: 0 1.5em 1.2em 1.5em;
  border-bottom: 2px solid rgba(255, 0, 0, 0); }
  @media (max-width: 768px -1) {
    .site-header .site-navigation a,
    .site-header .weekly-navigation a,
    .site-footer .site-navigation a,
    .site-footer .weekly-navigation a,
    .container .site-navigation a,
    .container .weekly-navigation a {
      padding: 0.5em 1em; } }

.site-header .site-navigation a:hover,
.site-header .weekly-navigation a:hover,
.site-footer .site-navigation a:hover,
.site-footer .weekly-navigation a:hover,
.container .site-navigation a:hover,
.container .weekly-navigation a:hover {
  text-decoration: none;
  border-bottom: 2px solid red; }

.site-header ul,
.site-footer ul,
.container ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.site-header {
  padding: 1em 3em 15em 3em; }

.featured {
  margin-top: 10em; }

section {
  margin: 0 0 2em 0; }

/* MEDIA */
img {
  max-width: 100%;
  height: auto; }

.site-identity img {
  width: 90%;
  max-width: 300px;
  height: auto;
  margin: 3em 10% 1em 10%; }

.site-identity, .site-navigation {
  position: relative;
  z-index: 100; }

header {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center 5em;
  background-size: 100%;
  position: relative; }
  header:before {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#00000000), color-stop(#00000000), to(#000000));
    background-image: -webkit-linear-gradient(top, #000000, #00000000, #00000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #00000000, #00000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #00000000, #00000000, #000000); }

.contact {
  width: 100%;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  margin: 0;
  opacity: 0.5;
  z-index: 1;
  display: block; }
