/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

.site-identity {
    img{
        @media (min-width: $breakpoint-small ) {
            max-width: 15%;
            height: auto;
            padding: 3em 1em 1em 1em;
        }

        @media (min-width: $breakpoint-medium) {
            max-width: 20%;
            height: auto;
            padding: 3em 1em 1em 1em;
        }

        @media (min-width: $breakpoint-large) {
            max-width: 25%;
            height: auto;
            padding: 3em 1em 1em 1em;
        }
    }  
}


// .site-identity {
//     img {
//         max-width: 25%;
//         height: auto;
//         padding: 3em 1em 1em 1em;
//     }
// }

header {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center 5em; 
    background-size: 100%;

    &:before {
        content: '';
        position: absolute;
        top: em;
        right: 0;
        bottom: -5em;
        left: 0;
        background-image: linear-gradient(to bottom,#00000000,#000000);
    }
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 1af7981c9d9535552fa1a1e16bb483479d377de3
>>>>>>> 6d796f5df940f4091a06915f8e26a6cc615ff6e9
.contact {
    width: 100%;
    background-image: url(../img/contact.jpg);
    background-size: cover;
	background-attachment: fixed;
    height: 500px;
    margin: 0;
    opacity: 0.5;
    z-index: 1;
    display: block;


}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 7537dd455207f4e4f44c6fba0343c2bd1e3da05c
=======
>>>>>>> 1af7981c9d9535552fa1a1e16bb483479d377de3
>>>>>>> 6d796f5df940f4091a06915f8e26a6cc615ff6e9
