/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

.site-identity {
    img{
        width: 90%;
        max-width: 300px;
        height: auto;
        margin: 3em 10% 1em 10%;
        @media (min-width: $breakpoint-small) {
            //max-width: 15%;
        }

        @media (min-width: $breakpoint-medium) {
            //max-width: 20%;
        }

        @media (min-width: $breakpoint-large) {
            //max-width: 25%;
        }
    }  
}

.site-identity, .site-navigation {
    position: relative;
    z-index: 100;
}


// .site-identity {
//     img {
//         max-width: 25%;
//         height: auto;
//         padding: 3em 1em 1em 1em;
//     }
// }

header {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: center 5em; 
    background-size: 100%;
    //background-color: yellow;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        // top: 30em;
        height: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #000000,#00000000,#00000000,#000000);
        //box-shadow: inset 0 0 50em 0 #000000;
        //border: solid red 1px;
    }
}

.contact {
    width: 100%;
    background-image: url(../img/contact.jpg);
    background-size: cover;
	background-attachment: fixed;
    height: 500px;
    margin: 0;
    opacity: 0.5;
    z-index: 1;
    display: block;


}
