body {
    font-family: $type-base;
    color: $type-color-body;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: $type-heading;
    color: $type-color-heading;
    margin: 0 0 0em 0;
}

/* Traditional typographic scale
48, 36, 24, 21, 18, 16 */

h1 { font-size: 3em; line-height: 1em;} /* 48 / 16 = 3em */
h2 { font-size: 2.25em; line-height: 1.1em;} /* 36 / 16 = 2.25em */
h3 { font-size: 1.5em; line-height: 1.2em;} /* 24 / 16 = 1.5em */
h4 { font-size: 1.3125em; line-height: 1.3em;} /* 21 / 16 = 1.3125em */
h5 { font-size: 1.125em; line-height: 1.4em;} /* 18 / 16 = 1.125em */
h6 { font-size: 1em; line-height: 1.5em;} /* 16 / 16 = 1em */

.centered {
    text-align: center;
    * {
        margin-left: auto;
        margin-right: auto;
    }
}

/* head */
.title {
    //display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

nav {
    font-size: 1em;
}

/* hero */
.hero {
    padding: 3em 0;
    h1 {
        font-size: 4em;
        font-weight: 900;
        margin-bottom: 0.4em;
<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> 7537dd455207f4e4f44c6fba0343c2bd1e3da05c
=======
>>>>>>> 1af7981c9d9535552fa1a1e16bb483479d377de3
    }

    h2 {
        font-size: 1.75em;
        color: $type-color-subhead;
        font-weight: 400;
    }
}

.section-head {
    font-size: 3em;
    margin: 0 0 0.2em 0;
}

.subheadline {
    font-size: 1.5em;
    color: $type-color-subhead;
    font-weight: normal;
    margin: 0 0 2em 0;
}

h4 {
    font-family: $type-base;
    color: $type-color-day;
    font-weight: bold;
}

.weekly-navigation {
    li {
        font-weight: light;
    }
}